/* BRAND COLORS:

    rgb(88,88,80)
    rgb(123,113,104)
    rgb(138,125,117)
    rgb(195,198,180)

*/


@import url(bootstrap/scss/bootstrap.scss);

html{
    width: 100%;
    position: relative;
    overflow-x: hidden;
    animation: fadein 1s;
}

@keyframes fadein{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body{
    background: url('images/background.jpg');
    background-size: cover;
    margin: auto;
    font-size: 1vw;
}

main{
    padding: 7px;
}

section{
    background-color: rgba(195, 198, 180, 0.8);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 3px 3px 10px #555;
}

section h1{
    text-transform: uppercase;
    font-size: 3vw;
}

header{
    width: 100%;
    background-color: rgb(195,198,180);
    border-bottom: 2px solid rgb(138,125,117);
    padding: 7px;
}


header img{
    margin-left: 5%;
}

nav{
    width: 100%;
    margin-top: 8%;
}

.navhov{
    color: rgb(138,125,117);
    text-decoration: none;
    transition: transform ease-in-out 250ms;
    padding-left: 5px;
    font-size: 1.5vw;
}

.navhov:hover{
    color: rgb(88,88,80);
}

.navhov::after {
    transform: scaleX(0);
    border-bottom: 3px solid rgb(88,88,80);
    transition: transform ease-in-out 250ms;
    content: ''; 
    transform-origin:  0% 50%;
    display: block;
}

.navhov:hover::after{
    transform: scaleX(1);
}

footer{
    margin: auto;
    background-color: beige;
    text-align: center;
    padding: 7px;
    bottom: 0px;
}